.list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 80vw;
   margin: 0px auto;
   padding: 25px;
   justify-content:center ;
   align-items: center;
  
}